* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Lato', 'san-serif';
    text-rendering: optimizeLegibility;
}

body {
    background-color: #ecf0f1;
}


/* -------------------------------------------------------- */


/* -------------------------code tai su dung------------------------- */


/* -------------------------------------------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


/* ---------------------------------------------------- */


/* --------------------------top header-------------------------- */

#header {
    float: left;
    height: 140px;
    width: 100%;
    background-color: #1e1f29;
    border-bottom: 2px solid red;
}

.top_header {
    float: left;
    height: 30px;
    width: 100%;
    background-color: #1e1f29;
}

.header_links_pull_left {
    float: left;
    line-height: 30px;
    margin-left: 170px;
}

.header_links_pull_left li {
    list-style: none;
    float: left;
    line-height: 30px;
    margin-left: 20px;
}

.header_links_pull_left li a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 10px;
    transition: all 0.5s;
}

.header_links_pull_left li a:hover {
    color: red;
}

.header_links_pull_right {
    float: right;
    margin-right: 161.5px;
}

.header_links_pull_right li {
    float: right;
    list-style: none;
    line-height: 30px;
    margin-right: 30px;
}

.header_links_pull_right li a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 10px;
    transition: all 0.5s;
}

.header_links_pull_right li a:hover {
    color: red;
}


/* --------------------------end top header-------------------------- */

.main_header {
    float: left;
    width: 100%;
    height: 100px;
    background: #000000;
}

.main_header img {
    margin-top: 14px;
    width: 210px;
    height: 80px;
    float: left;
    margin-left: 170px;
}

.function_login {
    float: right;
    margin-right: 165px;
    margin-top: 4px;
}

.function_login li {
    float: left;
    line-height: 100px;
    margin-right: 30px;
}

.function_login li a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.function_login li a:hover {
    color: red;
}


/* --------------------------search-------------------------- */

.search_box {
    float: left;
    width: 547px;
    height: 40px;
    margin-top: 30px;
    margin-left: 142px;
    background-color: black;
    border: 2px solid white;
}

.search_txt {
    float: left;
    width: 505px;
    height: 38px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.search_btn {
    float: left;
    padding: 3px 3.5px;
    color: white;
    margin-top: 3px;
    margin-left: 7px;
    transition: all 0.3s;
    font-size: 20px;
}

.search_btn:hover {
    color: red;
}


/* --------------------------infor_contact-------------------------- */

.infor_contact {
    float: left;
    width: 100%;
}

.infor_contact_left {
    float: left;
    width: 30%;
    height: 672px;
    background-color: black;
    margin-left: 7%;
    margin-top: 20px;
}

.infor_contact_left h4 {
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1px 40px;
    background-color: white;
    border-radius: 8px;
    margin-left: 31.3%;
    margin-top: 20px;
}

.infor_contact_left ul li a {
    margin-top: 20px;
    float: left;
    width: 90%;
}

.infor_contact_left ul li a {
    margin-top: 40px;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}

.infor_contact_left ul li a:hover {
    color: crimson;
}

.infor_contact_right {
    float: left;
    width: 56%;
    background-color: black;
    margin-left: 1%;
    margin-top: 20px;
}

.infor_contact_right img {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------footer-------------------------- */

.footer {
    float: left;
    width: 100%;
    margin-top: 50px;
    background-color: black;
    color: white;
}

.footer h3 {
    margin-bottom: 20px;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li:hover {
    color: crimson;
}

.footer ul li a {
    color: white;
}

.footer ul li a:hover {
    color: crimson;
}

.footer ul li img {
    width: 150px;
    margin-left: -10px;
}